:root {
  --main-color: #312f30;
  --accent-color: #ff3f40;
  --bg-light: #f6f2f1;
  --title-color: rgba(0,0,0,.8);
  --description-color: rgba(0,0,0,.7);
  --light-text-color: rgba(255,255,255,.8);
  --menu-color: #e0e0e0;
  --light: #fff;
  --button-color: #ff2d2d;
  --button-hover-color: #ff7070;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--description-color);
}

.container {
  max-width: 1250px;
  min-width: 320px;
  margin: auto;
}

img {
  max-width: 100%;
}

/* Header */
.header {
  background-color: var(--bg-light);
  padding-top: 3rem;
}

.header .menu { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  list-style: none;
  background-color: var(--main-color);
  padding: 0;
  margin: 0;
}

.menu__item {
  display: block;
  line-height: 9rem;
}

.menu__link { 
  display: block;
  font-weight: 700;
  color: var(--menu-color);
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
}

.menu__link:hover {
  background-color: var(--accent-color);
}

/* Organisation */
.organisation {
  background-color: var(--bg-light);
}

.organisation__wrap {
  display: flex;
  justify-content: space-between;
}

.organisation__article {
  width: 58.8rem;
}

.organisation__title {
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.6rem;
  line-height: 7.2rem;
  margin-top: 9.3rem;
  margin-bottom: 1.6rem;
}

.organisation__description {
  line-height: 2.8rem;
  margin-bottom: 4rem;
}

.organisation__button {
  font-weight: 700;
  color: #fff;
  padding: 2rem 6rem;
  margin-bottom: 12.3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--button-color);
  cursor: pointer;
  outline: none;
}

.organisation__button:hover {
  background-color: var(--button-hover-color);
}

.organisation__video {
  box-shadow: 0px 14px 73px 0px rgba(0, 0, 0, 0.29);
  margin-top: 10.3rem;
}